.DocumentList {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .5em;
}

ul.DocumentList>li {
    background-color: #c2baba;
    color: white;
    border-radius: 20px;
    padding: 1em;
    font-size: 24px;

}

.title {
    text-align: center;
}